# SQL Basic Session:

### Step 1: Installing Dependencies

In [1]:
!pip install sqlalchemy==1.3.9  ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\aishwarya\appdata\roaming\python\python39\site-packages (1.3.9)
Requirement already satisfied: ipython-sql in c:\users\aishwarya\appdata\roaming\python\python39\site-packages (0.4.1)
Requirement already satisfied: sqlparse in c:\users\aishwarya\appdata\roaming\python\python39\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable<1 in c:\users\aishwarya\appdata\roaming\python\python39\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pygments>=2.4.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: stack-data in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)

# Restart And Run All Kernal

~~~
Restart----->restart and run all.
~~~

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
import csv, sqlite3
con = sqlite3.connect("etlhive.db")
cur = con.cursor()

In [6]:
%sql sqlite:///etlhive.db

# Start performing sql Operations

### Syntax for creating as table

~~~
CREATE TABLE "table name"
    (column1 datatype1,
     column2 datatype2,
     column3 datatype3,
     column4 datatype4);
~~~

# Example : Create table "users" with below columns

~~~
1.id
2.name
3.age
4.email
~~~

In [9]:
%%sql
CREATE TABLE users
    (id int,
     name varchar(20),
     age int,
     email varchar(50));

 * sqlite:///etlhive.db
Done.

[]

# To View your table use SELECT Query

~~~
SELECT ColumnNames from TableName
For seeing all columns use * symbol
~~~

In [11]:
%%sql
SELECT * FROM users

 * sqlite:///etlhive.db
Done.

[]

# Inserting Data into a table

~~~
INSERT INTO TableName
VALUES (column1data, column2data, column3data,....);
~~~

In [16]:
%%sql
INSERT INTO users
VALUES (1, 'Aish',22,'Aish.@gmail.com');

 * sqlite:///etlhive.db
1 rows affected.

[]

In [17]:
%%sql
SELECT * FROM users

 * sqlite:///etlhive.db
Done.

[(1, 'Utkarsh', 28, 'utkarsh.etlhive@gmail.com'),
 (1, 'Aish', 22, 'Aish.@gmail.com')]

# Adding Multiple data using Insert Query

~~~
INSERT INTO TableName
VALUES (column1data, column2data, column3data,....),
       (column1data, column2data, column3data,....),
       (column1data, column2data, column3data,....);
~~~

In [22]:
%%sql
INSERT INTO users
VALUES (2,'Aditi',25,'test@test.com'),
       (3,'preeti',100,'preeti@test.com'),
       (4,'pranit',25,'pranit@test.com');

 * sqlite:///etlhive.db
3 rows affected.

[]

In [23]:
%%sql
SELECT * FROM users

 * sqlite:///etlhive.db
Done.

[(1, 'Utkarsh', 28, 'utkarsh.etlhive@gmail.com'),
 (1, 'Aish', 22, 'Aish.@gmail.com'),
 (2, 'Aditi', 25, 'test@test.com'),
 (3, 'Sarthak', 32, 'sarthak@test.com'),
 (4, 'Raman', 40, 'raman@test.com'),
 (2, 'Aditi', 25, 'test@test.com'),
 (3, 'preeti', 100, 'preeti@test.com'),
 (4, 'pranit', 25, 'pranit@test.com')]

In [21]:
a = 10
b = 20
print(a*b)

200